@charset "utf-8";

html{font-size:16px;line-height:32px;}

html,body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
margin:0; padding:0; border:0 none;vertical-align:middle; background:transparent}
html,body{position:relative; min-height:100%;height:100%;font-family:MalgunGothic,Helvetica,AppleSDGothicNeo,sans-serif;color:#4d4e4e; word-break:keep-all;}
legend,caption{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
em{font-style:normal}
textarea{width:94%;padding:10px;border:1px solid #b6b6b6;font-size:13px;color:#333; font-family:'Noto Sans KR',MalgunGothic,Helvetica,AppleSDGothicNeo,sans-serif;}
select,input[type=text]{height:41px;margin:0;padding:0 8px;font-size:13px;line-height:40px;font-family:'Noto Sans KR',MalgunGothic,Helvetica,AppleSDGothicNeo,sans-serif;vertical-align:middle;border:0px;;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#585858;border:1px solid #dbdbdb;}
select{padding:0 0 0 10px; font-size:13px;}
select.black{border:1px solid #666666; background:#ffffff;height:40px; line-height:34px; width:141px; font-size:13px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input[type=radio],input[type=checkbox]{margin:0px;padding:0px;vertical-align:middle}
ul,ol,li,dl,dt,dd{list-style:none}
li{list-style:none;}
div,ul,ol,li,dl,dt,dd,form,fieldset,p,h1,h2,h3,h4,h5,h6,blockquote,iframe{margin:0;padding:0;}
img{border:0;vertical-align:top;max-width:100%;}
fieldset{border:0}
hr{display:none;clear:both}
table{border-collapse:collapse;font-size:12px;color:#333;table-layout:fixed;border-spacing:0;width:100%;}
th, td {text-align:center;font-weight:normal;}
table thead th {font-weight:normal;}
a,a:link,a:visited,a:active{color:#585858;letter-spacing:normal;text-decoration:none}
a:hover{color:#666666;letter-spacing:normal;text-decoration:none}
strong{ font-style:normal; font-weight:bold;}
label{cursor:pointer;}
input::-webkit-input-placeholder { color:#666666; }
input::-moz-placeholder { color:#666666; } /* firefox 19+ */
input:-ms-input-placeholder { color:#666666; } /* ie */
input::-moz-placeholder { color:#666666; }
textarea.inputStyle{border:1px solid #e0e0e0; background:#ffffff;width:292px;height:40px; line-height:40px; font-size:13px;padding:0 15px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.checkbox label{vertical-align:middle; line-height:13px;}
.skip, .blind, legend {position:absolute; top:-5000em; width:0; height:0; overflow:hidden; line-height:0; font-size:0;}
button {overflow:visible; background:transparent; cursor:pointer; border:none; padding:0; margin:0;}
button::-moz-focus-inner {padding:0; border:0;}
input[type="text"].inpType02,
input[type="file"].inpType02,
input[type="email"].inpType02,
input[type="password"].inpType02{height:31px; box-sizing:border-box; line-height:29px; border:1px solid #ddd; padding:0 10px;}
select,
input{
  box-shadow: none !important;
}
a{
  font-family:'NotoSansKR',MalgunGothic,Helvetica,AppleSDGothicNeo,sans-serif;
  /*-webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;*/
}
.selType02{height:31px; box-sizing:border-box; line-height:26px; border:1px solid #ddd; padding:0 0 0 10px;}
.textAreaType01{box-sizing:border-box; border:1px solid #ddd; padding:10px;}
.tar{ text-align:right;}
.tac{ text-align:center;}
.clfix:after {content:""; display: block; height: 0px; clear: both; visibility: hidden}
.clfix {display: inline-block}
.clfix {display: block}
.clear{clear:both;}
.cl{clear:left;}
.fl{float:left !important;}
.fr{float:right !important;}
.vm{vertical-align:middle !important}
.tl{text-align:left !important}
.tc{text-align:center !important}
.tr{text-align:right !important}


/* Margin */
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr50{margin-right:50px !important;}
.ml0{margin-left:0 !important;}
.ml10{margin-left:10px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml50{margin-left:50px !important;}
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mb0{margin-bottom:0px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb125{margin-bottom:125px !important;}

/* Padding */
.p0{padding:0 !important;}
.pl0{padding-left:0 !important;}
.pl20{padding-left:20px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pr0{padding-right:0 !important;}
.pr20{padding-right:20px !important;}
.pt0{padding-top:0 !important;}
.pt10{padding-top:10px !important;}
.pt12{padding-top:12px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pl35{padding-left:35px !important;}
.pl50{padding-left:50px !important;}
.pb0{padding-bottom:0 !important;}
.pb20{padding-bottom:20px !important;}
.pb50{padding-bottom:50px !important;}
.pb60{padding-bottom:60px !important;}
.pb80{padding-bottom:80px !important;}

/* border */
.bd_t0{border-top:0 !important;}
.bd_b0{border-bottom:0 !important;}
.bd_l0{border-left:0 !important;}
.bd_r0{border-right:0 !important;}

/*font style*/
.fz12{ font-size:12px;}
.fz18{ font-size:18px;line-height:32px;}

/*font color*/
.point_c{color:#1c706b;}
.point_c01{color:#60c3be;}
.point_b{color:#000;}

.f_yellow{ color: #ffd954;}
.f_green{ color: #008547;}
.f_red{ color: #ff0000;}
.f14{ font-size:14px !important;}
.f_b{font-weight:bold !important;}
.fwb{font-weight:bold !important;}
.fwn{font-weight:normal !important;}
.bgNone{background:none !important;}

a.link_type:hover{text-decoration:underline;}

/* bg */
.hide_txt {text-indent:-9999px;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
.po_rel{position:relative;}

/*skip_navi*/
.skip_navi, .skip_navi ul {height:0; position:absolute;z-index:200;left:0px;top:0px;width:100%;}
.skip_navi a{position:absolute; top:-9999px; background:#000; width:100%; padding:20px 0 ; text-align: center; color: #fff; font-weight: bold; z-index: 100; font-size:16px; opacity: 1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); }
.skip_navi a:focus,
.skip_navi a:hover,
.skip_navi a:active{top:0;}


/* table */
.tbWrap{margin-top:30px;}
.tbWrap th,
.tbWrap td{word-wrap:break-word; word-break:keep-all;}


/***************************************************************/

#wrap{width:100%}

/* 모달팝업 */
.modal_wrap{display:none;width:100%;height:100%;position: fixed;left:0;top:0;background-color:rgba(0,0,0,0.5);z-index:1000;}
.modal_wrap > .inner{transform:translate(-50%,-50%) scale(0.9);opacity:0;position:absolute;top:50%;left:50%;background-color:#fff;box-sizing:border-box;z-index:1;width:calc(100% - 20px);height:auto;max-height:calc(100% - 20px);}
.modal_wrap.open{display:block;}
.modal_wrap.open > .inner{transform:translate(-50%,-50%) scale(1);opacity:1;}
.modal_wrap .ly_header{padding:10px;}
.modal_wrap .ly_container{padding:10px;}
.modal_wrap .modal_close{position: absolute;right:10px;top:10px}